@use "../utils/color.scss";

.city {
    display: flex;
    background-color: color.$light-grey-color;
    justify-content: center;
    align-items: center;

    height: 50px;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);

    &__search {
        margin-left: 70px;
    }

    .search-input {
        padding-left: 15px;
        width: auto;
        border: none;
        outline: none;
        background-color: color.$light-grey-color;
        font-size: 16px;
        color: black;
    }

    .search-input::placeholder {
        color: black;
    }
}