@use '../base/variables.scss' as *; 

.explorer {
    text-align: center;

    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;

    & h2 {
        margin: 0;
        font-size: 24px;
    }

    & p {
        font-size: 18px;
        padding: 10px;
    }

    button {
        padding: 13px 18.75px;
        font-size: 16px;
        color: white;
        border: none;
        border-radius: 25px;
        background-image: linear-gradient(to top,$primary-color,$secondary-color);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);

    }

}