.footer {
    display: flex;
    flex-direction: column;
    background-color: #353535;
    padding-left: 25px;
    padding-bottom: 20px;
    margin: -8px;
  
  
   
  
    .footer-text {
        display: flex;
        flex-direction: column;
        padding-top: 16px;
    }
  
    & img {
        height: 27px;
        width: 137px;
      
        margin-top: 22px;
       
    }
  
    & p,
    a {
        margin: 0;
        padding: 5px;
    }
  
    & i {
        padding-right: 10px;
    }
  
  }