instruction {
    padding: 48px 0;
  
    
  
    & ol {
        display: flex;
        flex-direction: column;
        gap: 25px;
        list-style: none;
        padding-right: 40px;
       
    }
  
    & li {
        position: relative;
        text-align: center;
        
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
        width: auto;
        border-radius: 20px;
        padding: 1.5rem 0 1.5rem 0;
  
        
  
  
  
        
    }
  
    & i {
        margin: 0 27px 0 15px;
  
        
    }
    & h2 {
      
  
      
  }
  }