@mixin fade-in($duration) {
    animation: fadeIn $duration ease-in-out;
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}