$primary-color: #9356DC;
$secondary-color: #FF79DA ;
$font-main: 'Roboto', sans-serif;
//main font//
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap');
//font logo et titre//
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
 
//responsive
$medium-screen :  768px;
$large-screen :  1024px;