@keyframes appear {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@mixin delay-appear {
    @for $i from 2 through 5 {
        &:nth-child(#{$i}) {
            animation-delay: 150ms * $i;
        }
    }
}

